<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <table border="5px">
        <tr>
            <th>Topic_name</th>
            <th>Name</th>
            <th>Url</th>
            <th>pk</th>
            
        </tr>
        {% for wo in webpage %}
            <tr> 
                <td>{{wo.topic_name}}</td>
                <td>{{wo.name}}</td>
                <td>{{wo.url}}</td>
                <td>{{wo.pk}}</td>

                

            </tr>
        {% endfor %}
    </table>
</body>
</html>